.friends__section .friends__section-header{
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding:10px 15px;
  font-size: 12px;
  color: #b4b4b4;
}

.friends__section-rows .friends__section-row{
  padding: 10px 14px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.friends__section-row.with-tagline{
  justify-content: space-between;
}

.frineds__section-tagline{
  font-size: 11px;
  background-color: #f0f0f0;
  padding: 10px 5px;
  border-radius: 5px;
  color:#665e5e;
}

.friends__section-row img{
  width:40px;
  border-radius: 50%;
  margin-right: 15px;
  animation: 1s rotateFriend ease-in-out;
}

@keyframes rotateFriend {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

.friends__section-rows a{
  text-decoration: none;
  color: inherit;
}

.friends__section-column{
  display: flex;
  align-items: center;
}
