.top-header{
  background-color: #523737;
  color:white;
  padding:5px 10px 15px 10px;
  position: fixed;
  width: 97%;
  top: 0;
  z-index: 2;
}

.top-header a{
  color: white;
}

.top-header .header__top,
.top-header .header__bottom{
  display: flex;
  justify-content: space-between;
}

.top-header .header__top{
  margin-bottom: 15px;
  font-size: 12px;
}

.top-header .header__bottom{
  margin: 0 10px;
}

.top-header .header__column{
  width: 33%;
}

.top-header .header__bottom .header__column:first-child{
  color: rgba(255, 255, 255, 0.5);
}
/*
last child는 top-header에서 모든 칼럼들 중에 마지막 칼럼을 의미한다. 즉 배터리칼럼과 나사칼럼.
*/
.top-header .header__column:last-child{
  text-align: right;
}
/*
nth-child(2)는 header-column의 두번째순서를 말하는거 즉 시간과 Friends1을 말하는것
*/
.top-header .header__column:nth-child(2){
  text-align: center;
}

.top-header .header__number{
  color: yellow;
}
