.search-bar{
  padding: 8px 20px;
  position: relative;
}

.search-bar input{
  width: 97%;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: center;
  transition: border-color .2s linear;
}

.search-bar input:focus{
  outline: none;
  border-color: #ffe94a;
}

.search-bar i{
  position: absolute;
  top: 12px;
  left: 40px;
  color: #bbbbbb;

}
